.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.aboutTitle {
    text-align: center;
    font-size: 2rem;
    color: #B69D74;
    margin-bottom: 20px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.aboutImage {
    position: relative;
    width: 370px;
    height: 260px;
}

.aboutDescription {
    text-align: justify;
    margin-top: 20px;
    color: #F5F5F5;
    max-width: 370px;
    margin-bottom: 20px;
}

@media (max-width: 700px) {
    .aboutTitle {
        font-size: 2rem;
    }

    .aboutImage {
        width: 94%;
        height: 0;
        padding-bottom: 60%;
    }

    .aboutDescription {
        text-align: justify;
        padding: 0 10px;
        max-width: 340px;
    }
}