.map {
    border: 0;
    padding: 0;
    margin: 0;
  }
  
  .map iframe {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block; 
    border-top: var(--breakpoint)
  }