.cardContainers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #B69D74;
    border: 1px solid #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    margin: 20px;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #f5f5f5;
}

.cardContent {
    padding: 16px;
}

.cardTitle {
    font-size: 1.5em;
    margin: 0;
    color: #F5F5F5;
}

.cardDescription {
    font-size: 1em;
    color: #F5F5F5;
    text-align: center;
}