.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-mono);
}

.mainContent {
  background-color: #1F2839;
  width: 100%;
}

.imageBackground {
  background-image: url("/giammarco-boscaro-zeH-ljawHtg-unsplash.jpg");
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.welcome {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
  padding: 20px;
}

.mainTitle h1 {
  font-size: 2rem;
  color: #B69D74;
  font-weight: bold;
  margin-top: 1rem;
}

.mainDescription {
  color: #f5f5f5;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px;
}

.contactButton {
  background-color: #B69D74;
  color: #f5f5f5;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-decoration: none;
}

.contactButton:hover {
  background-color: #1F2839;
}

.biography {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.biographyTitle {
  font-size: 2.5rem;
  color: #f5f5f5;
  text-decoration: underline;
  margin: 2rem;
}

.biographyDescription {
  color: #f5f5f5;
  text-align: center;
  max-width: 500px;
  margin: 3rem 0;
}

.specialization {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.specializationTitle {
  text-align: center;
  font-size: 2.5rem;
  color: #f5f5f5;
  text-decoration: underline;
  margin: 2rem;
}

.specializationDescription {
  color: #f5f5f5;
  text-align: center;
  max-width: 500px;
  margin-bottom: 3rem;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.servicesTitle {
  text-align: center;
  font-size: 2.5rem;
  color: #f5f5f5;
  text-decoration: underline;
  margin: 2rem;
}

.servicesDescription {
  color: #f5f5f5;
  text-align: center;
  max-width: 500px;
  margin-bottom: 3rem;
}

@media (max-width: 700px) {
  .mainContent {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .biographyTitle {
    font-size: 2rem;
    margin: 2rem 0;
  }

  .biographyDescription {
    max-width: 300px;
    margin: 2rem auto;
  }

  .biography {
    display: block;
  }

  .specializationDescription,
  .servicesDescription {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
