.contactForma {
    padding: 20px;
}

.contactForm {
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

.contactTitle {
    text-align: center;
    font-size: 2rem;
    color: #B69D74;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #B69D74;
    font-size: 1.5rem;
}

.formGroup input,
.formGroup textarea {
    width: 100%;
    padding: 10px;
    color: #1f2839;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: none;

}

.formGroup input:focus,
.formGroup textarea:focus {
    outline: none;
}

.formGroup textarea {
    resize: vertical;
    min-height: 150px;
    border-radius: 5px;
}

.submitButton {
    display: inline;
    padding: 10px 20px;
    font-family: var(--font-mono);
    font-size: 20px;
    color: #f5f5f5;
    background-color: #B69D74;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.submitButton:hover {
    background-color: #5e503a;
}

.formGroup input:-webkit-autofill,
.formGroup input:-webkit-autofill:hover,
.formGroup input:-webkit-autofill:focus,
.formGroup input:-webkit-autofill:active,
.formGroup textarea:-webkit-autofill,
.formGroup textarea:-webkit-autofill:hover,
.formGroup textarea:-webkit-autofill:focus,
.formGroup textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #f5f5f5 inset !important;
    -webkit-text-fill-color: #1f2839 !important;
    transition: background-color 5000s ease-in-out 0s;
}

.formGroup input:autofill,
.formGroup input:autofill:hover,
.formGroup input:autofill:focus,
.formGroup input:autofill:active,
.formGroup textarea:autofill,
.formGroup textarea:autofill:hover,
.formGroup textarea:autofill:focus,
.formGroup textarea:autofill:active {
    box-shadow: 0 0 0 30px #f5f5f5 inset !important;
    -webkit-text-fill-color: #1f2839 !important;
}